* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #292C33;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

#error-container {
  margin: auto;
}