body {
  background: transparent !important;
  -webkit-app-region: drag !important;
}

.header-arrow {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--theme_backgroundColorLess08);
  border-left: 10px solid transparent;
  margin: auto;
}
