<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>589579854600-nd8bv6fcdjvfg0ke6j4cu44brnqdhs55.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.589579854600-nd8bv6fcdjvfg0ke6j4cu44brnqdhs55</string>
    <key>API_KEY</key>
    <string>AIzaSyCnx-9QEsBb1Hu7VhW8nTtbMN7B-CLML4Q</string>
    <key>GCM_SENDER_ID</key>
    <string>589579854600</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>org.brunolemos.devhub</string>
    <key>PROJECT_ID</key>
    <string>devhub-65899</string>
    <key>STORAGE_BUCKET</key>
    <string>devhub-65899.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:589579854600:ios:9e47b631a5be6ed3</string>
    <key>DATABASE_URL</key>
    <string>https://devhub-65899.firebaseio.com</string>
    <key>CodePushDeploymentKey</key>
    <string>deployment-key-here</string>
  </dict>
</plist>