::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb
{
  background-color: #49d3b480;
}

*:focus {
  outline-color: #49d3b4;
}

*[tabIndex^="-1"]:focus {
  outline: none;
}

html, body, #root, #root > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292C33;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input:focus {
  outline: none !important;
}

.snap-container {
  scroll-snap-type: x mandatory;
}

.snap-item-start {
  scroll-snap-align: start;
}
