* {
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
  box-sizing: border-box;
}

.touchable-opacity {
  transition: opacity 0s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb
{
  background-color: #49d3b580;
}

*:focus {
  outline-color: #49d3b5;
}

html, body, #root, #root > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292c33;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover, a:hover * {
  text-decoration: underline !important;
  transition: none 0s !important;
}

.input:focus {
  outline: none !important;
}

.snap-container {
  scroll-snap-type: x mandatory;
}

.snap-item-start {
  scroll-snap-align: start;
}
