@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  overflow-x: hidden;
}


body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
