@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s ease-out;
  transition-property: background-color, border-color, color, opacity, top, bottom, left, right, margin, padding, transform;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  margin-top: 1px;
  margin-bottom: 1px;
}

a:hover, a:focus {
  transform: translateY(-1px);
}

footer a:hover {
  transform: none;
}
