::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb
{
  background-color: #49d3b580;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

html, body, #root, #root > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #1c1c1c;
}

.snap-container {
  scroll-snap-type: x mandatory;
}

.snap-item-start {
  scroll-snap-align: start;
}
